.awesomedd{
    display:none;
	position:absolute;
	z-index:999;
	width:285px;
	margin-top:10px;
	
	box-shadow:0px 0px 15px #888;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.awesomedd .heading{
	background-color: #73b4ce;background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(115, 180, 206)), to(rgb(40, 156, 196)));background-image: -webkit-linear-gradient(top, rgb(115, 180, 206), rgb(40, 156, 196));background-image: -moz-linear-gradient(top, rgb(115, 180, 206), rgb(40, 156, 196));background-image: -o-linear-gradient(top, rgb(115, 180, 206), rgb(40, 156, 196));background-image: -ms-linear-gradient(top, rgb(115, 180, 206), rgb(40, 156, 196));background-image: linear-gradient(top, rgb(115, 180, 206), rgb(40, 156, 196));filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#73b4ce', EndColorStr='#289cc4');
	padding:10px 0;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border:#005774 solid 1px;
	box-shadow:inset 0px 1px 0px #B2D6E4;
	color:white;
    font-family:"Helvetica", sans-serif;
	font-size:18px;
	text-shadow:0px 1px 0px #000;
	text-align:center;
	text-transform:uppercase;
}
.awesomedd .heading img{position:absolute;top:-6px;}

.awesomedd .main{
	background:#DEDEDE;
	border:#888888 solid 1px;
	border-top:none;
	padding:15px;
    font-family:"Helvetica", sans-serif;
}
